extends layout

block content
  main.item-create
    form.item-create(method="POST" action="")
      - 
        let [name, description, image_url, price='', number_in_stock=''] = item 
          ? [item.name, item.description, item.image_url, item.price, item.number_in_stock]
          : ['', '', '', '', '']

      h1
        if isEdit
          | #{`Update: ${name}`}
        else  
        Create a new item
      label(for="name") Item name:
      input(name="name" value=name)
      label(for="description")  Item Description:
      input(name="description" value=description)
      label(for="image_url")  Product Image URL:
      input(name="image_url" value=image_url)
      label(for="price")  Item price:
      input(name="price" value=price)
      label(for="number_in_stock")  Number in stock:
      input(name="number_in_stock" value=number_in_stock)
      
      fieldset
        p Product category:
        each category in categories
          input(type="radio" name='category' value=category._id checked=category.checked)
          label(for=category.name) #{category.name}

      button(type="submit")
        if isEdit
          | Save Edit
        else
          | Create
    if errors 
      br
      | Form errors:
      each error in errors
        li!= error.msg